/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
}
.width-100 {
  width: 100%;
}
.container {
  width: 100%;
}
@media (min-width: 800px) and (max-width: 1000px) {
  .container {
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .container {
    margin: 0 auto;
  }
}
.navigation {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid red;
}
.nav-logo .logo {
  color: #8D8741;
  font-size: 3.5rem;
  line-height: 60px;
  float: left;
  padding: 10px 13% 0px 1%;
}
@media (max-width: 500px) {
  .nav-logo .logo {
    font-size: 2.5rem;
    padding: 10px 8px;
  }
}
.nav ul {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid red;
}
.nav ul li {
  list-style: none;
  padding: 20px 5px 0px 0px;
  position: relative;
}
.nav .nav-menu .links {
  display: block;
  color: #8D8741;
  filter: brightness(50%);
  font-size: 18px;
  padding: 24px 0px 10px 0px ;
  text-decoration: none;
}
@media (max-width: 500px) {
  .nav .nav-menu .links {
    display: none;
  }
}
.nav .nav-menu .links:hover {
  color: #659DBD;
  filter: brightness(100%);
}
@media (min-width: 800px) and (max-width: 1000px) {
  span {
    display: none;
  }
}
@media (max-width: 500px) {
  span {
    display: none;
  }
}
/* --Login Dropdown Button-- */
.login-btn {
  width: 160px;
  height: 32px;
  font-size: 18px;
  color: white;
  margin: 10px 0px 0px 20px;
  background-color: #8D8741;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .login-btn {
    padding-left: 0px;
  }
}
.login {
  position: relative;
  display: block;
  text-align: right;
}
.login-content {
  display: none;
  position: absolute;
  background-color: #f7f5ef;
  min-width: 145px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.login-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
}
.login-content a:hover {
  color: #FBEEC1;
  min-width: 145px;
  background-color: #659DBD;
  filter: brightness(120%);
}
.login:hover .login-content {
  display: block;
}
.login:hover .login-btn {
  background-color: #bdb457;
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
.carousel i.fa.fa-angle-left {
  position: absolute;
  left: 5px;
  cursor: pointer;
}
.carousel i.fa.fa-angle-right {
  position: absolute;
  right: 5px;
  cursor: pointer;
}
.carousel a {
  text-decoration: none;
  color: black;
  font-size: 5rem;
  display: none;
  font-family: 'Amatic SC', cursive;
  padding: 5px;
  border-radius: 1rem;
}
.carousel .active {
  display: block;
}
/* --Destination-- */
.destination-box {
  height: 4rem;
  color: #FBEEC1;
  font-size: 22px;
  padding: 30px 0px 0px 0px;
  background-color: #8D8741;
  filter: brightness(130%);
  text-align: center;
}
.destination-dropdown {
  width: 50%;
  height: 3rem;
  font-size: 24px;
  margin: 20px 0px;
}
.destination-images {
  width: 100%;
  padding: 0px 0px 0px 0px;
  background-color: #FBEEC1;
}
.dest-img {
  width: 19.76%;
  height: 400px;
}
@media (max-width: 1000px) {
  .dest-img {
    margin: 0 auto;
    width: 19.65%;
    height: 290px;
  }
}
@media (min-width: 800px) and (max-width: 999px) {
  .dest-img {
    margin: 0 auto;
    width: 19.55%;
    height: 275px;
  }
}
@media (max-width: 500px) {
  .dest-img {
    margin: 0 auto;
    width: 32.7%;
    height: 265px;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  #dest-1 {
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  #dest-1 {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  #dest-2 {
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  #dest-2 {
    display: none;
  }
}
.first-ab .ab-container {
  margin: 20px auto;
  width: 800px;
  max-width: 1000px;
}
@media (max-width: 480px) {
  .first-ab .ab-container {
    margin: auto 24px;
  }
}
.first-ab .ab-container .mission {
  text-align: left;
}
@media (max-width: 480px) {
  .first-ab .ab-container .mission {
    text-align: center;
    width: 300px;
  }
}
.first-ab .ab-container .mission h1 {
  margin: 10px 10px;
  font-size: 2rem;
}
.first-ab .ab-container .mission p {
  line-height: 1.5;
}
.bg-about-img {
  background: url(/Images/arthur-poulin-96074-unsplash.jpg) center no-repeat, rgba(160, 158, 73, 0.76);
  background-size: cover;
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: none;
  flex-direction: row;
  align-items: center;
}
.bg-about-img .description {
  background: #f1f0b6;
  opacity: 0.6;
  margin-right: 72px;
  height: 200px;
}
@media (max-width: 480px) {
  .bg-about-img .description {
    margin-right: 26px;
    opacity: 0.4;
  }
}
.bg-about-img .description h1 {
  font-family: 'Amatic SC', cursive;
  position: relative;
  right: 5px;
  font-size: 5rem;
  text-align: center;
  margin: 20px 20px 0;
  color: #131313;
  font-weight: 600;
}
.second-ab {
  background: #d3d2ce;
  height: auto;
}
@media (max-width: 480px) {
  .second-ab {
    max-width: 480px;
    margin: auto 10px;
  }
}
.second-ab .people {
  width: 800px;
  margin: 0 auto;
}
.second-ab .people h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 3rem;
}
.second-ab .people .person {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .second-ab .people .person {
    flex-flow: column wrap;
  }
}
.second-ab .people .person img {
  width: 48%;
  object-fit: cover;
  height: 379px;
  border-radius: 12rem;
  margin-top: 50px;
}
@media (max-width: 480px) {
  .second-ab .people .person img {
    width: 15%;
    height: 119px;
    margin-left: 121px;
  }
}
.second-ab .people .person .person-info {
  width: 48%;
  margin-top: 125px;
}
@media (max-width: 480px) {
  .second-ab .people .person .person-info {
    margin: 10px auto auto 10px;
    text-align: center;
    width: 40%;
  }
}
.person-info h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}
#person-2 {
  flex-flow: row-reverse;
}
@media (max-width: 480px) {
  #person-2 {
    flex-flow: column wrap;
  }
}
#bg-person-2 {
  background: white;
}
/* --Guide Page Registration Form-- */
.registration-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
.registration-container .register-box {
  margin: 40px 10px;
  background: #659DBD;
  max-width: 400px;
  height: auto;
  border-radius: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.registration-container .register-box input,
.registration-container .register-box label {
  width: 90%;
  margin: 10px 10px 0px;
}
.registration-container .register-box input {
  height: 40px;
  border-radius: 0.3rem;
}
.registration-container .register-box h1 {
  font-size: 3rem;
  text-align: center;
  line-height: 1;
  font-family: 'Amatic SC', cursive;
}
.registration-container .register-box p {
  text-align: center;
}
.registration-container .register-box .submit {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: auto 10px;
  align-items: center;
}
.registration-container .register-box .submit button {
  padding: 10px;
  min-width: 300px;
  border-radius: 0.6rem;
  border: 1px solid #659DBD;
  background: #8D8741;
  margin: 10px;
  cursor: pointer;
}
/* --Guide Page Styling-- */
.container .guide {
  width: 100%;
}
.border-color {
  width: 100%;
  height: 20px;
  margin: 20px auto;
  border-top: 3px solid #494721;
  border-bottom: 3px solid #494721;
  background-color: #8D8741;
  filter: brightness(130%);
}
.border {
  visibility: hidden;
}
.register-box {
  width: 100%;
}
.register {
  font-size: 2rem;
  color: #8D8741;
  filter: brightness(50%);
  text-align: center;
  margin: 40px 0px 30px 0px;
}
.guide-images {
  width: 98%;
  padding-left: 1.9%;
  border: 1px solid red;
}
.guide-img {
  width: 12%;
  height: 150px;
  margin: 1.9%;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #494721;
}
@media (max-width: 1000px) {
  .guide-img {
    width: 13.8%;
    height: 120px;
    margin: 1%;
    text-align: center;
  }
}
@media (min-width: 800px) and (max-width: 999px) {
  .guide-img {
    width: 13.55%;
    height: 100px;
    margin: 1%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .guide-img {
    margin: 0 auto;
    width: 15%;
    height: 70px;
    text-align: center;
  }
}
.tagline {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4;
}
.fill {
  font-size: 1.2rem;
  text-align: center;
  margin: 1%;
}
.form-input {
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.4;
}
.register-button {
  font-size: 1.1rem;
  text-align: center;
  margin: 2%;
}
.registerbtn {
  font-size: 1.1rem;
  text-align: center;
  margin: 2%;
  width: 160px;
  height: 32px;
  color: white;
  background-color: #121e24;
  border-radius: 5px;
}
.signin {
  font-size: 1.1rem;
  text-align: center;
  margin: 1%;
}
.tour-content {
  background-image: url("/Images/andrew-stutesman-643239-unsplash.jpg");
  background-color: #f1f0b6;
  height: 18.3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  margin-top: 1rem;
  padding: 8%;
}
@media (max-width: 1000px) {
  .tour-content {
    height: 20.5rem;
  }
}
@media (min-width: 800px) and (max-width: 999px) {
  .tour-content {
    height: 22.5rem;
  }
}
@media (max-width: 500px) and (max-width: 799px) {
  .tour-content {
    height: 27rem;
  }
}
.tour-text {
  opacity: 0.8;
}
.tour-dropdown {
  margin: 0.8%;
  width: 400px;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tour-button {
  margin: 0.8%;
  width: 400px;
  height: 40px;
  color: #121e24;
  font-size: 18px;
  background-color: #659DBD;
  /*rgb(67, 105, 128);*/
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tour-button:hover {
  color: #659DBD;
  background-color: #121e24;
}
footer {
  width: 100%;
  height: 35px;
  padding: 20px 0px 0px 0px;
  background-color: #8D8741;
  filter: brightness(130%);
  display: flex;
  justify-content: space-evenly;
  border: 1px solid red;
}
footer a {
  color: #8D8741;
  filter: brightness(30%);
  font-size: 18px;
  text-decoration: none;
}
footer a:hover {
  color: #659DBD;
  filter: brightness(50%);
}
