/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
}
.width-100 {
  width: 100%;
}
.navigation {
  width: 100%;
  height: 60px;
  background-color: white;
}
.nav-logo .logo {
  color: #8D8741;
  font-size: 55px;
  line-height: 60px;
  float: left;
  padding: 10px 32% 0px 15px;
}
.nav ul {
  display: flex;
}
.nav ul li {
  list-style: none;
  padding: 20px 10px 0px 0px;
  position: relative;
}
.nav .nav-menu .links {
  display: block;
  color: #8D8741;
  filter: brightness(50%);
  font-size: 18px;
  padding: 24px 14px;
  text-decoration: none;
}
.nav .nav-menu .links:hover {
  color: #659DBD;
  filter: brightness(100%);
}
/* --Login Dropdown Button-- */
.login-btn {
  width: 160px;
  height: 32px;
  font-size: 18px;
  color: white;
  margin-top: 10px;
  background-color: #8D8741;
  border-radius: 5px;
}
.login {
  position: relative;
  display: inline-block;
}
.login-content {
  display: none;
  position: absolute;
  background-color: #f7f5ef;
  min-width: 165px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.login-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.login-content a:hover {
  color: #FBEEC1;
  background-color: #659DBD;
  filter: brightness(120%);
}
.login:hover .login-content {
  display: block;
}
.login:hover .login-btn {
  background-color: #bdb457;
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
.carousel i.fa.fa-angle-left {
  position: absolute;
  left: 5px;
  cursor: pointer;
}
.carousel i.fa.fa-angle-right {
  position: absolute;
  right: 5px;
  cursor: pointer;
}
.carousel a {
  text-decoration: none;
  color: black;
  font-size: 5rem;
  display: none;
  font-family: 'Amatic SC', cursive;
  padding: 5px;
  border-radius: 1rem;
}
.carousel .active {
  display: block;
}
/* --Destination-- */
.destination-box {
  height: 4rem;
  color: #FBEEC1;
  font-size: 22px;
  padding: 30px 0px 0px 0px;
  background-color: #8D8741;
  filter: brightness(130%);
  text-align: center;
}
.destination-dropdown {
  width: 50%;
  height: 3rem;
  font-size: 24px;
  margin: 20px 0px;
}
.destination-images {
  width: 100%;
  padding: 0px 0px 0px 0px;
  background-color: #FBEEC1;
}
.dest-img {
  width: 19.76%;
  height: 400px;
}
.first-ab .ab-container {
  margin: 20px auto;
  width: 800px;
  max-width: 1000px;
}
.first-ab .ab-container .mission {
  text-align: left;
}
.first-ab .ab-container .mission h1 {
  margin: 10px 10px;
  font-size: 2rem;
}
.first-ab .ab-container .mission p {
  line-height: 1.5;
}
.bg-about-img {
  background: url(/Images/arthur-poulin-96074-unsplash.jpg) center no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: none;
  flex-direction: row;
  align-items: center;
}
.bg-about-img .description {
  background: #f1f0b6;
  opacity: 0.6;
  margin-right: 72px;
  height: 200px;
}
.bg-about-img .description h1 {
  font-family: 'Amatic SC', cursive;
  position: relative;
  right: 5px;
  font-size: 5rem;
  text-align: center;
  margin: 20px 20px 0;
  color: #131313;
  font-weight: 600;
}
.second-ab {
  background: #d3d2ce;
  height: 440px;
}
.second-ab .people {
  width: 800px;
  margin: 0 auto;
}
.second-ab .people h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 3rem;
}
.second-ab .people .person {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.second-ab .people .person img {
  width: 48%;
  object-fit: cover;
  height: 379px;
  border-radius: 12rem;
  margin-top: 50px;
}
.second-ab .people .person .person-info {
  width: 48%;
  margin-top: 125px;
}
.person-info h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}
#person-2 {
  flex-flow: row-reverse;
}
#bg-person-2 {
  background: white;
}
.tour-content {
  background-image: url("/Images/andrew-stutesman-643239-unsplash.jpg");
  background-color: #f1f0b6;
  height: 19.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  margin-top: 1rem;
  padding: 8%;
}
.tour-text {
  opacity: 0.8;
}
.tour-dropdown {
  margin: 0.8%;
  width: 400px;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tour-button {
  margin: 0.8%;
  width: 400px;
  height: 40px;
  color: #121e24;
  font-size: 18px;
  background-color: #659DBD;
  /*rgb(67, 105, 128);*/
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tour-button:hover {
  color: #659DBD;
  background-color: #121e24;
}
footer {
  width: 100%;
  height: 35px;
  padding: 20px 0px 0px 0px;
  background-color: #8D8741;
  filter: brightness(130%);
  display: flex;
  justify-content: space-evenly;
}
footer a {
  color: #8D8741;
  filter: brightness(30%);
  font-size: 18px;
  text-decoration: none;
}
footer a:hover {
  color: #659DBD;
  filter: brightness(50%);
}
