.first-ab {

    .ab-container {
        margin: 20px auto;
        width: 800px;
        max-width: 1000px;

        @media @mobile {
            width: 100%;
        }

        .mission {
            text-align: center;

            @media @mobile {
                text-align: center;
                width: 100%;
            }

            h1 {
                margin: 10px 10px;
                font-size: 2rem;
                color: white;
                text-align: center;

                @media @mobile {
                    color: black;
                }

            }

            p {
                line-height: 1.7;
                color: white;

                @media @mobile {
                    color: black;
                }


            }
        }

    }
}

.bg-about-img {
    // background: url(/Images/arthur-poulin-96074-unsplash.jpg) center no-repeat;
    min-height: 175px;
    width: 100%;
    position: relative;
    overflow: hidden;
    .flex(flex-end);
    align-items: center;

    @media @mobile {
        background: url(/Images/arthur-poulin-96074-unsplash.jpg) center no-repeat;
        background-size: cover;
        justify-content: center;
        width: 100%;
    }

    .description {
        background: @description-background;
        opacity: .6;
        margin-right: 72px;
        height: 200px;
        margin-top: 20px;


        @media @mobile {
            margin-right: 0px;
            opacity: .4;
        }

        h1 {
            font-family: 'Amatic SC', cursive;
            position: relative;
            right: 5px;
            font-size: 5rem;
            text-align: center;
            margin: 20px 20px 0;
            color: @h1-color;

            font-weight: 600;
        }
    }
}

.second-ab {
    background: @second-ab;
    min-height: 500px;


    @media @mobile {
        max-width: 480px;
        margin: auto 10px;
    }

    .people {
        width: 800px;
        margin: 0 auto;

        @media @mobile {
            width: 100%;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
            font-size: 3rem;

        }

        .person {
            display: flex;
            flex-flow: row no-wrap;
            justify-content: space-between;

            @media @mobile {
                flex-flow: column wrap;
                width: 100%;
                padding-bottom: 20px;
                align-items: center;
            }

            img {
                width: 48%;
                object-fit: cover;
                height: 379px;
                border-radius: 12rem;
                margin-top: 50px;


                @media @mobile {
                    height: 201px;
                }
            }

            .person-info {
                width: 48%;
                margin-top: 125px;

                @media @mobile {
                    text-align: center;
                    width: 100%;
                    margin-top: 0px;
                }
            }
        }
    }
}

.person-info {
    h2 {
        font-size: 3rem;
        margin-bottom: 10px;
    }
}

#person-2 {
    flex-flow: row-reverse;

    @media @mobile {
        flex-flow: column wrap;
    }
}

#bg-person-2 {
    background: white;
}

.main-container {
    width: 100%;

    @media @mobile {
        margin: auto 10px;

    }
}

.wrapper {
    width: 100%;

    @media @mobile {
        display: none;
    }

    .fullscreen-bg {
        position: absolute;
        right: 0;
        bottom: -130px;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        background-size: cover;
        overflow: hidden;
    }
}