/* --Destination-- */
.destination-box {
    height: 4rem;
    color: @dirt-grey;
    font-size: 22px;
    padding: 30px 0px 0px 0px;
    background-color: @darkGreen;
    filter: brightness(130%);
    text-align: center;
}
    .destination-dropdown {
        width: 50%;
        height: 3rem;
        font-size: 24px;
        margin: 20px 0px;
    }

.destination-images {
    width: 100%;
    padding: 0px 0px 0px 0px;
    background-color: @dirt-grey;
}

    .dest-img {
    width: 19.76%;
    height: 400px;

        @media (max-width: 1000px) {
            margin: 0 auto;
            width: 19.65%;
            height: 290px;
        }

        @media (min-width: 800px) and (max-width: 999px) {
            margin: 0 auto;
            width: 19.55%;
            height: 275px;
        }

        @media (max-width: 500px) {
            margin: 0 auto;
            width: 32.7%;
            height: 265px;

        }
    }

        #dest-1 {
            @media (min-width: 800px) and (max-width: 1000px) {
                margin: 0 auto;
            }

            @media (max-width: 500px) {
                display: none;
            }
        }

        #dest-2 {
            @media (min-width: 800px) and (max-width: 1000px) {
                margin: 0 auto;
            }

            @media (max-width: 500px) {
                display: none;
            }
        }