.tour-content {
    background-image: url("/Images/andrew-stutesman-643239-unsplash.jpg");
    background-color: @description-background;
    height: 19.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    margin-top: 1rem;
    padding: 8%;

    @media (max-width: 1000px) {
        height: 20.5rem;
    }

    @media (min-width: 800px) and (max-width: 999px) {
        height: 22.5rem;
    }

    @media (max-width: 500px) and (max-width: 799px) {
        height: 27rem;
    }
}

.tour-text {
    opacity: .8;

    @media (max-width: 500px) {

    }
}

    .tour-dropdown {
        margin: .8%;
        width: 400px;
        height: 40px;
        font-size: 18px;
        border-radius: 5px;
        box-shadow: @box-shadow;
    }

    .tour-button {
        margin: .8%;
        width: 400px;
        height: 40px;
        color: rgb(18, 30, 36);
        font-size: 18px;
        background-color: @main-blue;/*rgb(67, 105, 128);*/
        border-radius: 5px;
        box-shadow: @box-shadow;
       
    }

        .tour-button:hover {
            color: @main-blue;
            background-color: @register-button;
        }
