.carousel {
    .width-100();
    .flex(center, center);
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-top: 16px;

    i.fa.fa-angle-left {
        position: absolute;
        left: 5px;
        cursor: pointer;
    }

    i.fa.fa-angle-right {
        position: absolute;
        right: 5px;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 7rem;
        display: none;
        font-family: 'Amatic SC', cursive;
        padding: 5px;
    }

    .active {
        display: block;
    }

}
.wrapper{
    height: 500px;
    width: 100%;
}
.fullscreen-bg {
    position: absolute;
    right: 0;
    bottom: -130px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size:  cover;
    overflow: hidden;
}